# --- Python Specific ---
.venv/
__pycache__/
*.pyc

# --- Simulation Outputs (The "Bulk") ---
# Ignore folders containing videos or plots
animations/

# Ignore specific large file types
*.mp4

# --- Profiling and Logs ---
profiles/
.gitignore